# yaml-language-server: $schema=https://www.schemastore.org/dependabot-2.0.json

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    cooldown:
      default-days: 7
